ul,li{
    list-style-type: none;
}
.background{
    width: 100%;
    height: 100%;
    background-image:url('https://passport.baidu.com/static/passpc-account/img/reg_bg_min.jpg');
}
.wrapper .logo {
    position: fixed;
    left: 70px;
    top: 60px;
    width: 124.4px;
    height: 40px;
}
.text {
    position: fixed;
    left: 195px;
    top: 314px;
    color: #fff;
}
.footer {
    position: fixed;
    left: 70px;
    bottom: 57px;
    font-size: 14px;
    color: #fff;
}
.help a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-appearance: none;
}
.help-text {
    filter: alpha(opacity=80);
    opacity: .8;
}
.line {
    display: inline-block;
    width: 2px;
    height: 12px;
    filter: alpha(opacity=78);
    opacity: .78;
    margin: 0 12px 0 13px;
    background: #fff;
    position: relative;
    top: 1px;
}
.service {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('https://passport.baidu.com/static/passpc-account/img/reg/service-2x.png') no-repeat;
    background-size: 100%;
    position: relative;
    top: 3px;
}
.copyright {
    filter: alpha(opacity=54);
    opacity: .54;
    font-size: 12px;
    color: #fff;
    display: inline-block;
    padding-left: 30px;
}
.content {
    position: absolute;
    right: 139px;
    top: 50%;
    margin-top: -350px;
    width: 480px;
    height: 500px;
    margin-top: -259px;
    background: #fff;
    background: rgba(255,255,255,.9);
    border-radius: 12px;
    border-radius: 12px;
    overflow: hidden;
}
.login {
    margin: 30px 0 0 39px;
}
.login p span {
    color: #2e58ff;
    cursor: pointer;
}
.reg {
    position: relative;
    width: 720px;
    overflow: hidden;
    zoom: 1;
    margin-bottom: 40px;
}
.formitem{
    position: relative;
    width: 500px;
    height: 70px;
}
label {
    font-size: 14px;
    color: #333;
    letter-spacing: 0;
    text-align: right;
    width: 82px;
    height: 40px;
    line-height: 40px;
    margin-right: 15px;
    font-weight: 200;
    display: block;
    float: left;
}
.textInput {
    padding: 11px 10px;
    max-height: 40px;
    background: #fff;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    font-size: 14px;
    width: 321px;
    color: #000;
    float: left;
    height: 16px;
}
.textInput1 {
    padding: 11px 10px;
    max-height: 40px;
    background: #fff;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    font-size: 14px;
    width: 180px;
    color: #000;
    float: left;
    height: 16px;
}
.pass-text-input:hover {
    border-color: #bdc2cc;
}
.userNameError{
    font-size: 12px;
    color: #F55;
    background: 0 0;
    padding-left: 0;
    padding-top: 0;
    position: absolute;
    left: 100px;
    top: 40px;
}
.pass-item-tip {
    width: 317px;
    height: 38px;
    position: absolute;
    left: 100px;
    top: 90px;
    font-size: 10px;
    text-align: center;
    color: #fff;
    background: url('https://passport.baidu.com/static/passpc-account/img/reg/check-username-bg-2x.png') no-repeat;
    background-size: 100%;
    background: url('https://passport.baidu.com/static/passpc-account/img/reg/check-username-bg-2x.png') no-repeat\9;
}
.tip-password {
    width: 317px;
    height: 90px;
    position: absolute;
    left: 120px;
    top: 190px;
    font-size: 10px;
    text-align: center;
    color: #fff;
    background: url('https://passport.baidu.com/static/passpc-account/img/check-pwd-bg-2x.png') no-repeat;
    background-size: 100%;
    background: url('tip-password') no-repeat\9;
    z-index: 1;
}
.button{
    height: 40px;
    background: #fff;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    font-size: 14px;
    width: 130px;
    margin-left: 10px;
    color: #000;
    float: left;
}
.registerButton{
    background: #BDCEFC;
    height: 50px;
    border: 1px solid #E0E0E0;
    border-radius: 25px;
    font-size: 16px;
    width: 400px;
    margin-left: 40px;
    color: #fff;
    float: left;
    
}
.item-isAgree{
    margin-left: 50px;
    float: left;
    color: #333;
}
.warn{
    width: 20px;
    height: 20px;
    position: absolute;
    top:280px;
    left: 410px;
    z-index: 1;
    background-image: url('https://passport.baidu.com/static/passpc-account/img/reg/pwdtip-2x.png') ;
    background-size:100% 100%;
}